@import 'nib'

.wf-loading, .wf-inactive {        
  font-family: 'Arial Narrow', sans-serif;
}  

.wf-active {        
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
}   
body{
  font-size: 24px; //gets set by script
  padding-bottom: 4em;
  //background courtesy of http://lea.verou.me/css3patterns/#lined-paper
  background-color: #fff; 
  background-image: linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}
h1{
  margin: 0.25em auto;
  height: 1.2em;
  font-size: 2.1em;
  text-align: center;
  color: white;
  text-shadow:
       0.05em 0.05em 1px #000,
     -1px -1px 0px #000,  
      1px -1px 1px #000,
      -1px 1px 1px #000,
       1px 1px 1px #000;
  @media only screen and (max-width: 768px){
    font-size: 3em;
  }
  @media only screen and (max-width: 480px) {
    font-size: 3.5em;
  }
}
.options-container{
  position: relative;
  margin: 0 auto;
  top: 1.0em;
  left: 0;
  right: 0;
  text-align: center;
  @media only screen and (max-width: 768px) {
    top: 0.8em;
  }
  @media only screen and (max-width: 480px) {
    top: 0.6em;
  }
}
.overlay-btn.options-btn{
  position: absolute;
  margin-left: 10.8em;
  width: 4em;
  height: 2.2em;
  line-height: 2.2em;
  font-size: 0.7em;
  @media only screen and (max-width: 768px){
    margin-left: 8.8em;
    font-size: 0.8em;
  }
  @media only screen and (max-width: 480px) {
    margin-left: 4.8em;
    font-size: 1.2em;
  }
}
.text-center{
  text-align: center;
}
#game-board{
  position: relative;
  table{
    margin: auto;
    border-spacing: 0;
    border-radius: 0.15em ;
    border: 0.15em solid #000;
    box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.6);
  }
  td{
    text-align: center;
    background-color: white;
  }

  $border = 1px solid #222;
  $borderHeavy = 0.2em solid #222;
  .b-bottom{
    border-bottom: $border;
  }
  .b-right{
    border-right: $border;
  }
  .b-bottom-heavy{
    border-bottom: $borderHeavy;
  }
  .b-right-heavy{
    border-right: $borderHeavy;
  }
  .read-only{
    background-color: #A8EEFF;
  }
  .highlighted{
    background-color: yellow;
  }

  input[type="tel"]{
    margin: 0;
    width: 2em;
    height: 2em;
    border: 0;
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
    background-color: inherit;
  }
  input:disabled{
    -webkit-text-fill-color: inherit;
    color: inherit;
    opacity: 1!important; //for iOS bug-fix
  }
}
.bounce-in{
  animation: bounce-in-anim 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes bounce-in-anim { 
  0% { 
      opacity: 0; 
      transform: scale(.3); 
  } 

  50% { 
      opacity: 1; 
      transform: scale(1.05); 
  } 

  70% { 
      transform: scale(.9); 
  } 

  100% { 
      transform: scale(1); 
  } 
} 
.new-game-overlay{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32%;
  margin: auto;
  padding: 0.3em 0.15em;
  width: 9em;
  height: 7em;
  background: linear-gradient(to bottom, #a0a0a0 0%, #727272 100%);
  text-align: center;
  border: 0.08em solid #222;
  border-radius: 0.18em;
  box-shadow: 0.25em 0.25em 0.15em rgba(0, 0, 0, 0.5);
  font-size: 1.15em;
  @media only screen and (max-width: 768px){
    font-size: 1.4em;
    bottom: 22%;
  }
  @media only screen and (max-width: 480px) {
    font-size: 2em;
    bottom: 12%;
  }
  h3{
    margin: 0;
    color: white;
    font-size: 1.3em;
    height: 1.3em;
    text-shadow:
         0.05em 0.05em 1px #000,
       -1px -1px 0px #000,  
        1px -1px 1px #000,
        -1px 1px 1px #000,
         1px 1px 1px #000;
  }
  
  .copyright-text{
    position: absolute;
    margin: auto;
    bottom: 4%;
    left: 0;
    right: 0;
    font-size: 0.77em;
    color: white;
    font-weight: bold;
    text-shadow:
         2px 2px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;

    a{
      color: inherit;
      text-decoration: none;
    }
  }
  .copyright-text:hover{
    transform-origin: 50% 80%;
    transform: scale(1.09);
  }
  a.exit-btn{
    position: absolute;
    top: -8%;
    right: -7%;
    width: 0.9em;
    height: 0.9em;
    color: #fff;
    box-shadow: 
      0 0 0 0.03em rgba(33,33,33,0.7),
      0.10em 0.10em 0.10em rgba(0, 0, 0, 0.5);
    border: 0.12em solid #fff;
    border-radius: 2em;
    background: #222;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 0.88em;
    text-decoration: none;
  }

  a.exit-btn:before {
    content: "×";
  }
}
.overlay-btn {
  position: relative;
  display:  inline-block;
  margin: 0.25em 0;
  width: 12.5em;
  height: 2.7em;
  line-height: 2.7em;
  box-shadow: inset 0px 1px 0px 0px #ffffff, 0 2px 0 0 rgba(0,0,0,0.5);
  background-color: #dfdfdf;
  background: linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 0.3em;
  text-indent: 0;
  color: #222;
  font-size: 0.6em;
  font-weight: bold;
  text-decoration: none;
  text-align:center;
  text-shadow: 1px 1px 0px #ffffff;
}
.overlay-btn:hover {
  background: linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
}
.overlay-btn:active {
  top: 1px;
  box-shadow: inset 0px 1px 0px 0px #ffffff, 0 1px 0 0 rgba(0,0,0,0.5);
}
